
.product_container{
    display: flex;
 
    justify-content: space-around;

   
}
.filterSection{

    display: flex;
    width: 30%;
    justify-content: flex-end;

}
.product-view__short{


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
   width: 60%;
 ;
}