.container{

    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
   
    
}
.container .hero_detil
{
  display: flex;
  flex-direction: column;
  width: 50%; 
 
}
.container .hero_detil h1{

   
   
     width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(71, 94, 241);
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 3px 0; 
  
}
.container .hero_detil p{

    display: flex;
  
    width: 100%;
    flex-wrap: wrap;
    padding: 0 1rem 0 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    text-align: justify;
    margin: 20px 0;
    
}
.container .hero_detil button{

  padding: 1rem ;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(71, 94, 241), rgb(100, 123, 246));
  color: #fff;
  border: none;
  border-radius: .5rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  transition: all 0.1s ease;
  cursor: pointer;
  margin: .5rem; 
  font-family: 'Montserrat', sans-serif; 

}
.container .hero_detil button:active {
    background: linear-gradient(to left, rgb(71, 94, 241), rgb(100, 123, 246));
    transform: translateY(5px);
    box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  }
.hero_photo{

    display:  inline-flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
   

}
.hero_photo img{

    width: 18rem;
    height: 20rem;
} 

@media(max-width:450px)
{
    .container{

       
        display: flex;
        flex-direction: column;
        
    }
    .container .hero_detil{

   
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
    .container .hero_detil h1
    {
    
      width: 100%;
      font-size: 1.5rem;
      
    }

}