.trusted-container{

    border-top: 1px solid lightgray ;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    flex-direction: column;
    margin-top: 1rem;
   
    
}
.trusted-heading{

 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.trusted-heading p{

    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}
.componey-name{

   display: flex;
   width: 100%;
   margin-left: auto;
   justify-content: center;
   align-items: center;
}
.componey-name .componey{

 
    display: flex;
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.componey-name .componey .componey-logo{

    font-size: 2rem;
    margin-right: .5rem;
    color: linear-gradient(to right, rgb(71, 94, 241), rgb(100, 123, 246));

}
.componey-name span{

    font-size: 1.6rem;
    text-transform: capitalize;
    color: gray;
}
@media(max-width:450px)
{
    
    .trusted-container{
        
        display: flex;
        flex-wrap: wrap;
    }
    .trusted-heading{

       
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .trusted-heading p{

        font-weight: bold;
     
    }
    .componey-name{

        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
        
     

    }
    .componey-name .componey{

        border:  2px solid red;
        display: flex;
        flex-direction: column;
    }
}