.container_listView{

 
    display: flex;
    flex-direction: column;
   
    width: 100%;
    flex-wrap: wrap;

}
.box-productlist{

    display: flex;
    margin-top: 2rem;
  

}
.container_listView figure{


  
    display: flex;
    justify-content: center;
  
   
}
.container_listView figure img{

    width: 15rem;
    height: 13rem;
}
.right_card_data{

    display: flex;
    flex-direction: column; 
    margin-left: 1rem;
    width: auto;
    flex-wrap: wrap;


   
}
.right_card_data h3{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-bottom: 1rem;
   
}
.right_card_data .description{
 
    height: auto;
    display: flex;
    padding-bottom:.5rem ;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: gray;
    flex-wrap: wrap;

}
.box-productlist button{

    display: inline-block;
    padding: 12px ;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(71, 94, 241), rgb(100, 123, 246));
    color: #fff;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: .5rem;
}