section{



    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(239, 251, 255);
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;

   
  
}
.featureP_container
{

    margin: auto;
    width: auto;
    padding: 2rem ; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    
  
    

    
}
.intro-data{

    display: flex;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100;
   flex-direction: column;
    margin-left: 1rem;

    flex-wrap: wrap;
    padding: 0 0 1rem 1rem;
  
    
}
.intro-data p:first-child
{
  
    color: rgb(71, 94, 241);
   

}
.intro-data p:last-child
{
  font-size: 2rem;
}
.common-heading{

    font-size: 2rem;
    font-weight: 800;
   
}
.items{

    display: flex;
    width: auto;
    flex-wrap: wrap;
    margin-top: 2rem;
 
    justify-content: center;
    align-items: center;

}